header {background-color: blanchedalmond;
    width: 1024px;
    margin: auto;

}


c.container {
    width: 1023px;
    margin: 0 auto;
overflow: auto;
border: 1px solid red;}



aside {background-color: lightpink;
        float: left;
    width: 20%;
   ;


}


main {
    background-color: cornflowerblue;
    float: left;
    width: 80%;}

@media screen and (min-width:768px) {aside, main {
    width: 25%} }

@media screen and (min-width:1200px) {
    aside, main {
        width: 50%
    }
.google{display: none;}
}

@media screen and (min-width:992px) {
    aside, main {
        width: 50%
    }
}


