
.main {
    width: 320px;
    padding: 10px;
    border color(black);
    margin: 10px;
    color: black;
    font-family: "Trebuchet MS", Verdana;


}

.menu {background-color: #999f8c;
    color: black;}

.content {background-color: #d2d8c7;
    color: black;}







