
'use scrict'

/*#top {*/
    /*text-align: center*/
/*}*/

/*h1 {*/
    /*color: rebeccapurple;*/
/*}*/

/*h2 {*/
    /*text-decoration: underline;*/
    /*color: darksalmon;*/
/*}*/

/*ul {*/
    /*list-style: lower-latin*/
}

/*table, tr, td, th {*/
    /*border: 3px white solid*/
/*}*/

.flex-container {
    padding: 0;
    margin: 0;
    flex-grow: 1;

}

.flex-item {
    flex-grow: 1;
    background: bisque;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;

    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}}