@import url('https://fonts.googleapis.com/css?family=Oswald');

.fancy header {
    color: rebeccapurple;
    text-decoration: underline;
}

body {
    background-color: grey;
    background-image: url("../images/indie-pattern-background.jpeg");
    background-repeat: repeat;
    font-family: 'Oswald', sans-serif;
}

#top {
    text-align: center
}

h1 {
    color: rebeccapurple;
}

h2 {
    text-decoration: underline;
    color: darksalmon;
}

ul {
    list-style: lower-latin
}

table, tr, td, th {
    border: 3px white solid
}

body:hover {
    color: bisque
}
